main {
    margin-left: calc(11vw - 19.2px);
    margin-right: calc(1.25vw + 12px);
}

.slide-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.read-more-container {
    left: 45px;
    bottom: 45px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide-1-img,
.slide-2-img,
.slide-3-img {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); */
    filter: brightness(70%);
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.slide-content span {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.slide-content h2 {
    font-family: 'Manrop', sans-serif;
    font-weight: 800;
    font-size: calc(1.5vw + 19.2px);
    color: rgba(255, 255, 255, 1);
    line-height: 100%;

}

.read-more {
    width: 206px;
    height: 56px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 9px;
    align-items: center;
    border-radius: 56px;
    backdrop-filter: blur(80);
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid rgba(217, 217, 217, 1);
}



.recommended-products {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.recommended-products-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.recommended-products-controller h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    color: rgba(0, 46, 74, 1);
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch-container h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 46, 74, 1);
}

.read-more:nth-child(3) {
    background-color: transparent;
    border: none;
    color: black;
}


.reccomended-products-blocks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.recommended-products-blocks .recommended-products-block {
    display: flex;
    flex-direction: column;
}

.reccomended-products-blocks .reccomended-products-block img {
    width: 100%;
    height: 220px;
    gap: 10px;
    border-radius: 20px;
}

.reccomend-product-desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reccomend-line {
    height: 1px !important;
}

.cta-more-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cta-more-info-btn-tr {
    background-color: transparent;
    border: none;
}

.cta-more-info-btn-bg {
    background-color: rgba(44, 52, 56, 1);
    color: rgba(255, 255, 255, 1);
    width: 131px;
    height: 56px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}